<h1>New Pledge Form for </h1>

<%= form_for @fp_backed do |f| %>
    <%= f.fields_for :pledges, @fp_backed.pledges.build do |pledge| %>
        <%= pledge.label "Enter pledge amount" %>
        <%= pledge.text_field :amount %>
        <% end %>
    <%= f.submit "Submit Pledge"%>
    <% end %>
