

<h2>What are your SF favorites?</h2>
<%# <%= binding.pry %> %>
<%= form_for @user do |f| %>
  <%= f.fields_for :sf_faves do |sf_fave| %>
    <%= f.label "Favorite Writing" %>
    <%= f.text_field :fav_lit %><br>
 
    <%= f.label "Favorite Films" %>
    <%= f.text_field :fav_film %><br>
 
    <%= f.label "Favorite Game (Video or otherwise)" %>
    <%= f.text_field :fav_game %><br>
   <% end %>
  <% end %>