<% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %><br><br>


<h1>Log In</h1>
 <%= form_for(:sessions, url: '/login') do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.submit "Log in" %>
<% end %><br>


<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Sign in with Facebook', '/auth/facebook') %>
<% end %>