<% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %><br><br>


<h1>Log In</h1>
 <%= form_for(:sessions, url: '/login') do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.submit "Log in" %>
<% end %><br>

  <%= link_to('Sign in with Facebook', '/auth/facebook') %>