<!DOCTYPE html>
<html lang="en">
<body>
  
  <%= render 'layouts/header_navbar' %>

  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><h5><%= link_to 'Alphabetized List of Authors (by first name)', lit_fan_authors_alphabetized_path %></h5></p><br><br>
        <p><h5><%= link_to "Add New Author, Work, and/or Genre", new_lit_fan_work_path %></h5></p><br><br>
      </div>
    <div class="col-sm-8 text-left"> 

      <%= form_tag(lit_fan_authors_path, method: :get) do %>
      <p>
        Search for or click on an author below to view an author's home page, get to the home page for an author's work, or add to the author's works.
      </p>

      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search', name: nil  %>
      <% end %>
      <br>
      <h3>Browse All Fanvorite Authors (or see Search result/s):</h3><br>
      <% @lit_fan_authors.each do |lfa| %>
        <ul class="no-bull">
          <li><%= link_to lfa.name, lit_fan_author_lit_fan_works_path(lfa) %></li>
        </ul>
      <% end %>
      
    </div>
  </div>
</body>
</html>


