<h1>Featured Author: <%= @lit_fan_author.name %></h1>

<h2>Works by <%= @lit_fan_author.name %> recommended by SFSourcer members:</h2>
<ul>
  <% @lit_fan_author.lit_fan_works.each do |lit_fan_work| %>
    <h3><li><%= link_to lit_fan_work.title, lit_fan_author_lit_fan_work_path(@lit_fan_author, lit_fan_work) %></li></h3>
  <% end %><br><br>
</ul>

<h4><%= link_to "Edit Work, Author, and/or Genre", edit_lit_fan_work_path(@lit_fan_work)%></h4>
 
<h4><%= link_to "Add New Work, Author, and/or Genre", new_lit_fan_work_path %></h4>

<h4><%= link_to 'Back to All Author Fanvorites Page', '/lit_fan_authors' %></h4>

<h4><%= link_to 'Back to Fanvorites Home Page', '/all_sf_fanvorites' %></h4><br>



<%# <h4><%= link_to "Edit Author", edit_lit_fan_author_path(@lit_fan_author)%></h4><br><br>


<h2>SFSourcer Features for this author:</h2>

<h2>FanWiki About</h2>

<h2>News/Articles</h2>

<h2>Member Comments</h2>

<h2>Fandom/Events</h2>


<h3>Make this page into a ClubSite!</h3>

<h2>Here's how:</h2><br>

<h3>Add this site to your FanPage!</h3>

<h2>Here's how:</h2><br>

<%# <h3><%= link_to 'Find or add a new recommendation to our database to share and experience the information, events, and ClubSite connections based on the author!', lit_fan_authors_index_path %></h3> %>


