
<%= form_for @lit_fan_work do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>
    <h4>Choose the author from the list of recommended authors below ... </h4>
    <%= lit_fan_author_select(@lit_fan_work.lit_fan_author, @lit_fan_work) %><br><br>
    <h4>or add a new one ...</h4>
    <%= f.text_field :lit_fan_author %><br><br>
    <%= f.submit "Submit" %>
<% end %>