<%= render partial: "layouts/fanvorites_navbar" %>

<div class="container text-center">    
  <div class="row">
    <div class="col-sm-2 well">
      <div class="well">
        <p >
          <a href="#">
            <strong>Check out <%= @lit_fan_author.name %>'s Club Site (under construction)</strong>
          </a>
        </p>
      </div>

      <div class="well">
        <p>
          <a href="#">
            <strong>Check out <%= @lit_fan_author.name %> in wikis</strong>
            <br>
            <strong>(under construction)</strong>
          </a>
        </p>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="row">
          <div class="panel" id="two-sidenavs">
            <div class="panel-body" id="two-sidenavs">
              <p contenteditable="true">
                <%= @lit_fan_author.name %>
              </p>
            </div>
          </div>
        </div>
      
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <h4>
              <% @lit_fan_works.each do |lfw| %>
                <%= link_to lfw.title, lit_fan_work_path(lfw) if lfw == @lit_fan_works[0]%>
              <% end %>
            </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <h4>
              <% @lit_fan_works.each do |lfw| %>
                <%= link_to lfw.title, lit_fan_work_path(lfw) if lfw == @lit_fan_works[1]%>
              <% end %>
            </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <p>
              Work
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <p>
              Work
            </p>
          </div>
        </div>
      </div>     
      
      <h4>
        <%= link_to "Add New Work, Author, and/or Genre", new_lit_fan_work_path %>
      </h4>

      </div> 
        <div class="col-sm-2 well">
          <div class="well">
            <p>
              <a href="#">
                <strong>Search for <%= @lit_fan_author.name %> events</strong>
                <br>
                <strong>(under construction)</strong>
              </a>
            </p>
          </div>
          
          <div class="well">
            <p>
              <a href="#">
                <strong>Search for news about <%= @lit_fan_author.name %></strong>
                <br>
                <strong>(under construction)</strong>
                <br>
              </a>
            </p>
          </div>
      </div>
  </div>