<!DOCTYPE html>
<html lang="en">
   <head>
      <%= javascript_include_tag 'writer_groups'  %>
   </head>
   <body>

      <div class="container" id="more-margin">

         <%= form_for @writer_group do |wg| %>
            <%= wg.label "Group Name"%><br>
            <%= wg.text_field :wg_name %><br>
            <br><br>
            <%= wg.label "Group Creator Name"%><br>
            <%= wg.text_field :wg_creator %>
            <br><br>

            <%= wg.label "Group Description"%><br>
            <%= wg.text_area :wg_description %><br>
            <br>
            <%= wg.submit "Create Group" %>
         <% end %>

         <div id="showWriterGroupResult">
            <h2 id="writerGroupWgName"></h2>
            <h3 id="writerGroupWgCreator"></h3><br>
            <h4 id="writerGroupWgDescription"></h2>
         </div>
      
         <br>

         <h5><%= link_to "Back to Writer's Groups Home Page", writer_groups_home_path %></h5>

         <br>

         <div>
            <h5><a class="load_writer_groups" href="/writer_groups">All Writer's Groups</a></h5>
            </div>
            <br>
            <div class="writer_groups">
            <ul class="no-bull">
            </ul>
         </div>

      </div>

   <body>
</html>
