<head>
   <%= javascript_include_tag 'writer_groups'  %>
</head>

<%= render partial: "layouts/header_navbar" %>

<div class="container" id="more-margin">

   <a href="#" class="wg-next" data-id="<%=@writer_group.id%>">Next Group</a>
   <h1 class="writerGroupName"><%= @writer_group.wg_name %></h1>
   <p class="writerGroupCreator"><%= @writer_group.wg_creator %></p>
   <p class="writerGroupDescription"><%= @writer_group.wg_description %></p>

   </div>
   <br><br><br><br><br><br><br><br><br>