<!DOCTYPE html>
<html lang="en">
   <head>
      <%= javascript_include_tag 'writer_groups'  %>
   </head>
   <body>

      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>                        
               </button>
               <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav">
               <li class="active"><a href="/">Home</a></li>
               <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     <li><a href="/funding_projects", class="load_fps">Fund an SF Project</a></li>
                     <li><a href="/funding_projects/new">Create an SF Project</a></li>
                     <li><a href="/l_stories">Living Stories</a></li>
                     <li><a href="/writer_groups_home">Writer's Groups</a></li>
                     <li><a href="#">Writing Help (under construction)</a></li>
                     <li><a href="/all_sf_fanvorites">Fanvorites</a></li>
                     <li><a href="#">FanWiki (under construction)</a></li>
                     <li><a href="#">ClubSites (under construction)</a></li>
                     <li><a href="#">FanPages (under construction)</a></li>
                     <li><a href="#">Your FanPage (under construction)</a></li>
                  </ul>
               <li><a href="/all_sf_events">Events</a></li>
               <li><a href="/about">About Us</a></li>
               <li><a href="/contact">Contact</a></li>
               </ul>

               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Sign In/Sign Up/Log Out <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     <li><a href="/sessions/new">Log in</a></li>
                     <li><a href="/users/new">Sign up</a></li>
                     <li><a href="/logout">Log out</a></li>
                  </ul>
               </ul>
            </div>
         </div>
      </nav>

      <div class="container" id="more-margin">

         <a href="#" class="wg-next" data-id="<%=@writer_group.id%>">Next Group</a>
         <h1 class="writerGroupName"><%= @writer_group.wg_name %></h1>
         <p class="writerGroupCreator"><%= @writer_group.wg_creator %></p>
         <p class="writerGroupDescription"><%= @writer_group.wg_description %></p>

      </div>
      <br><br><br><br><br><br><br><br><br>

   <body>
</html>
