<!DOCTYPE html>
<html lang="en">
   <head>
      <%= javascript_include_tag 'writer_groups'  %>
   </head>
   <body>

      <a href="#" class="wg-next" data-id="<%=@writer_group.id%>">Next Group</a>
      <h1 class="writerGroupName"><%= @writer_group.wg_name %></h1>
      <p class="writerGroupCreator"><%= @writer_group.wg_creator %></p>
      <p class="writerGroupDescription"><%= @writer_group.wg_description %></p>

   <body>
</html>
