<%= form_for @user do |f| %>
<div class="field<%= ' field_with_errors' if @user.errors[:name].any? %>">
 <%= f.label :name %>
<%= f.text_field :name %>
  </div>
<div class="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
<%= f.label :email %>
 <%= f.text_field :email %>
  </div>
<div class="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
 <%= f.label :password %>
<%= f.text_field :password %>
  </div><br>

<h2>Let us know about your SF favorites!</h2>
    <%= f.fields_for :sf_favs do |sf_fave| %>
<h3>What is your favorite SF literary work?</h3>    
<%# <ol> %>
      <li><%= sf_fave.text_field :fav_lits %><br></li>
    <%# </ol> %>
 
<h3>What is your favorite SF film?</h3>    
        <%# <ol> %>
      <li><%= sf_fave.text_field :fav_films %><br></li>
    <%# </ol>  %>
<h3>What is your favorite SF game?</h3>    
        <%# <ol> %>
      <li><%= sf_fave.text_field :fav_games %><br></li>
    <%# </ol>  %>
  <% end %><br>
    <%= f.submit "Submit" %>
<% end %>


