
<%= render 'layouts/header_navbar'%>

<div class="container" id="more-margin">


  <%= render partial: "errors" %><br>

  <%= form_for @user do |f| %>
  <div class="field<%= ' field_with_errors' if @user.errors[:name].any? %>">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <br>
  <div class="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <br>

  <h5>Password Requirements:</h5>
  <ol>
    <li>minimum 6 characters</li>
    <li>at least one uppercase character</li>
    <li>at last one lowercase character</li>
    <li>special symbol</li>
    <li>at least one number</li>
  </ol>
  <br>

  <h4>Let us know about your SF favorites!</h4>
  <br>

  <h5>What is your favorite SF literary work?</h5>    
  <%= f.text_field :fav_lits %><br></li>
  <br>
  
  <h5>What is your favorite SF film?</h5>    
  <%= f.text_field :fav_films %><br></li>
  <br>

  <h5>What is your favorite SF game?</h5>    
  <%= f.text_field :fav_games %><br></li>
  <br>

  <%= f.submit "Submit" %>
  <% end %>

</div>