<h1>Make a Free Account!</h1><br>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this profile from being saved:
    </h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h3>Sign up with your email:</h3>

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :password %>
<%= f.text_field :password %>

<h2>Address Information</h2>
<%= f.fields_for :addresses do |addr| %>
    <%= addr.label :address1 %>
    <%= addr.text_field :address1 %><br>
 
    <%= addr.label :address2 %>
    <%= addr.text_field :address2 %><br>
 
    <%= addr.label :city %>
    <%= addr.text_field :city %><br>
 
    <%= addr.label :state %>
    <%= addr.text_field :state %><br>
 
    <%= addr.label :zip %>
    <%= addr.text_field :zip %><br>
 
    <%# <%= addr.label :address_type %> %>
    <%# <%= addr.text_field :address_type %><br> %>
  <% end %><br>
<%= f.submit "Create Account" %>
<% end %>
