MAIN NAVBAR 
<h1>Make a Free Account!</h1><br>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this profile from being saved:
    </h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h3>Sign up with your email:</h3>

<%= form_for @user do |f| %>
<div class="field<%= ' field_with_errors' if @user.errors[:name].any? %>">
 <%= f.label :name %>
<%= f.text_field :name %>
  </div>
<div class="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
<%= f.label :email %>
 <%= f.text_field :email %>
  </div>
<div class="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
 <%= f.label :password %>
<%= f.text_field :password %>
  </div>

<h2>Address Information</h2>
<%= f.fields_for :addresses do |addr| %>
    <%= addr.label :address1 %>
    <%= addr.text_field :address1 %><br>
 
    <%= addr.label :address2 %>
    <%= addr.text_field :address2 %><br>
 
    <%= addr.label :city %>
    <%= addr.text_field :city %><br>
 
    <%= addr.label :state %>
    <%= addr.text_field :state %><br>
 
    <%= addr.label :zip %>
    <%= addr.text_field :zip %><br>

  <% end %><br><br>

    <%= f.fields_for :sf_favs do |sf_fave| %>
    <%= sf_fave.label "Favorite Writing" %>
    <%= sf_fave.text_field :fav_lits %><br>
 
    <%= sf_fave.label "Favorite Films" %>
    <%= sf_fave.text_field :fav_films %><br>
 
    <%= sf_fave.label "Favorite Game (Video or otherwise)" %>
    <%= sf_fave.text_field :fav_games %><br>
  <% end %>

  <%= f.submit "Create Account" %>
<% end %>
