MAIN NAVBAR 
<h1>Make a Free Account!</h1><br>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this profile from being saved:
    </h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h3>Sign up with your email:</h3>

<%= form_for @user do |f| %>
<div class="field<%= ' field_with_errors' if @user.errors[:name].any? %>">
 <%= f.label :name %>
<%= f.text_field :name %>
  </div>
<div class="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
<%= f.label :email %>
 <%= f.text_field :email %>
  </div>
<div class="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
 <%= f.label :password %>
<%= f.text_field :password %>
  </div>

<h2>Address Information</h2>
<%= f.fields_for :addresses do |addr| %>
    <%= addr.label :address1 %>
    <%= addr.text_field :address1 %><br>
 
    <%= addr.label :address2 %>
    <%= addr.text_field :address2 %><br>
 
    <%= addr.label :city %>
    <%= addr.text_field :city %><br>
 
    <%= addr.label :state %>
    <%= addr.text_field :state %><br>
 
    <%= addr.label :zip %>
    <%= addr.text_field :zip %><br>

  <% end %><br><br>

<h2>Let us know about your SF favorites!</h2>
    <%= f.fields_for :sf_favs do |sf_fave| %>
<h3>What are your favorite SF literary works?</h3>    
<ol>
      <li><%= sf_fave.text_field :fav_lits %><br></li>
      <li><%= sf_fave.text_field :fav_lits %><br></li>
      <li><%= sf_fave.text_field :fav_lits %><br></li>
    </ol>
 
<h3>What are your favorite SF films?</h3>    
        <ol>
      <li><%= sf_fave.text_field :fav_films %><br></li>
      <li><%= sf_fave.text_field :fav_films %><br></li>
      <li><%= sf_fave.text_field :fav_films %><br></li>
    </ol> 
<h3>What are your favorite SF games?</h3>    
        <ol>
      <li><%= sf_fave.text_field :fav_games %><br></li>
      <li><%= sf_fave.text_field :fav_games %><br></li>
      <li><%= sf_fave.text_field :fav_games %><br></li>
    </ol> 
  <% end %>

  <%= f.submit "Create Account" %>
<% end %>
