<%= render 'layouts/header_navbar'%>

<div class="container" id="more-margin">

    <h4>Your Current Email: <%= @user.email %></h4>

    <h5><%= link_to "Edit Profile/Change Password", edit_user_path(@user) %></h5><br>

    <h4>Check out members' favorites and find or add your own:</h4>
    <h5> <%= link_to "SF Literature Fanvorites", '/sf_lit_fanvorites' %></h5><br>

    <h4>Your SF Favorites: </h5>
    <br>
    <ul>
        <h4>Favorite Literary Work:</h4><br>
            <%= @user.fav_lits %><br><br>
        <h4>Favorite Film:</h4><br>
            <%= @user.fav_films %><br><br>
        <h4>Favorite Game:</h4><br>
            <%= @user.fav_games %><br><br>
    </ul>

</div>
