MAIN NAVBAR 


<h1><%= @user.name %></h1><br>
<p>Email: <%= @user.email %></p>
<p>Change Password: </p>

<%= link_to "Log Out", logout_path %><br>

<h2><%= link_to "Your SFSourcer Projects!", funding_projects_url %> </h2><br><br>

<h2><%= link_to "Check out all SFSourcer Projects!", funding_projects_url %> </h2><br>


<h3>Your Pledges: </h3>
<ul>
    <%# <li><h3><% @funding_projects.each do |fp| %></h3></li> %>
    <%# <li><h3>Sourcer Project: <%= fp.title %></h3></li> %>
    <%# <% end %> %>
    <%# make into link %>
    <li><h3><% @pledges.each do |p| %></h3></li>
    <li><h3>Sourcer Project: <%= p.funding_project.title %></h3></li>
    <li><h3>Amount: <%= p.amount %></h3></li>
        <% end %>

    <%# make into link %>
</ul>

<h3>SFSourcer Projects you've commented on:</h3>
<% @user.funding_projects.each do |fp| %>
<%= link_to funding_project.title, funding_project_path(fp) %>
<% end %>





