MAIN NAVBAR <br> 


<h1>Greetings, <%= @user.name %>!</h1><br><br>
<p>Email: <%= @user.email %></p>
<p>Change Password: </p>

<%= link_to "Log Out", logout_path %><br>

<h2> <%= link_to "Make a New Living Story", new_l_story_path %> </h2><br><br>

<h3>Your Sourcer Projects</h3>
<p>
    <ul>
        <% @user.funding_projects.each do |ufp| %>
        <li><%= ufp.title %></li>
        <li><%= ufp.description %></li>
        <li><%= ufp.funding_goal %></li>
        <% end %>
    </ul>
</p>

<h2><%= link_to "Make a New Sourcer Project", new_fp_creator_funding_project_path(@user.id) %> </h2><br><br>


<%# <h2><%= link_to "Your Sourcer Projects", funding_projects_url(user_fp_creator) %> </h2><br><br> %>



<h3>Your Pledges: </h3>
<ul>
    <%# make into link %>
    <li><h3><% @pledges.each do |p| %></h3></li>
    <li><h3>Sourcer Project: <%= p.funding_project.title %></h3></li>
    <li><h3>Amount: <%= p.amount %></h3></li>
        <% end %>

</ul>
<br>

<%# <h3>Your SF Favorites: </h3>

    <ul>
        <% @user.sf_favs.each do |sf_fave| %>
        <%# <li><%= sf_fave.fav_lit %></li> %>
        <%# <li><%= sf_fave.fav_film %></li> %>
        <%# <li><%= sf_fave.fav_game %></li> %>
    </ul>
        <%# <% end %> %> %>

<%# <h3>Sourcer Projects you've commented on:</h3>
<% @user.funding_projects.each do |fp| %>
<%# <%= link_to funding_project.title, funding_project_path(fp) %> %>
<%# <% end %> %>
 %>
<%# If user has their own project/s, they appear here: %>



