NAVBAR Log In, Home, Your Profile, Sourcer Projects


<h1><%= @user.name %></h1><br>
<p>Email: <%= @user.email %></p>
<p>Change Password: </p>

<%= link_to "Log Out", logout_path %><br>


<h2><%= link_to "Check out our Sourcer Projects!", funding_projects %> </h2><br>


<h3>Your Pledges: </h3>
<ul>
    <%# <li><h3><% @funding_projects.each do |fp| %></h3></li> %>
    <%# <li><h3>Sourcer Project: <%= fp.title %></h3></li> %>
    <%# <% end %> %>
    <%# make into link %>
    <li><h3><% @pledges.each do |p| %></h3></li>
    <li><h3>Sourcer Project: <%= p.funding_project.title %></h3></li>
    <li><h3>Amount: <%= p.amount %></h3></li>
        <% end %>

    <%# make into link %>
</ul>







