<head>
  <%= javascript_include_tag "events" %>
</head>

<%= render partial: "layouts/header_navbar"%>

<div class="container">
  <h3 class="opacity">
    Event Information
  </h3>
  <br>
  
  <%= form_for @event do |f| %>
    <h4>Title: <%= f.text_field :title %> </h4><br>
    <h4>
      Description
  </h4>
    <p>
      <%= f.text_area :description %>
    </p>
    <br>

    <h4>Location: <%= f.text_field :location %></h4><br>
    <h4>Date: <%= f.text_field :date %></h4><br>
    <h4>Start Time: <%= f.text_field :start_time %></h4><br>
    <h4>Cost: <%= f.text_field :cost %></h4><br>
    <h4>Contact Info: <%= f.text_field :contact_info %></h4><br>
    <h4><%= f.submit "Create Event" %></h4>
      <% end %>
</div>

<div class="container">
  <div id='show-event-result'>
    <h4 id='show-event-title'></h4>
    <h5 id='show-event-description'></h5><br>
    <h5 id='show-event-location'></h5>
    <h5 id='show-event-date'></h5>
    <h5 id='show-event-start-time'></h5>
    <h5 id='show-event-cost'></h5>
    <h5 id='show-event-contact-info'></h5>
    <br><br>
  </div>
</div>

<br>

<div class='container' id='more-margin'>
  <%# <h4>
    <a href='/events' class='getEventLinks' id='return-all-events'>
        Click for links to all events, most recently added first
    </a>
  </h4> %>
    <h4>
    <a href='/events' class='getEventLinks' id='return-sorted-events'>
        Click for links to all events in alphabetical order
    </a>
  </h4>

</div>
<br>
<div class='container' id='more-margin'>
  <div id='all-events'>
      <ul id='no-bull'>
      </ul>
  </div>
</div>

