<!DOCTYPE html>
<html lang="en">
<head>
  <title>Living Stories</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Welcome to Living Stories!</h1>
      <br>
      <p>
        Check out our Living Stories below and join in creating a fun and fantastic story with other SFSourcer members!
      </p> 
      <p>
        Or start your own Living Story <%= link_to "here", new_l_story_path %>!
      </p>
    </div>
  </div>
  
  <%= render 'layouts/l_stories_navbar' %>

  <div class="text-center .mx-auto px-{2}">
    <div class="stripe_row">
      <div class="col-sm-12">
        <div><p><strong>Recent Stories</strong></p></div>
      </div>
  </div>

  <div class="container" style="text-align:center;">   
    <div class="row">
      <div class="col-sm-4" style="text-align:center;">
        <div class="panel panel-primary">
          <h4>
            <% @l_stories.each do |l_story| %>
              <ul class='no-bull'>
                <li><%= link_to l_story.title, l_story_path(l_story) if l_story == @l_stories[0]%></li>
              </ul>
            <% end %>
          </h4>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  style="width:100%" alt="Image"></div>
        </div>
      </div>
    
      <div class="col-sm-4" style="text-align:center;">
        <div class="panel panel-primary">
          <h4>
            <% @l_stories.each do |l_story| %>
              <ul class='no-bull'>
                <li><%= link_to l_story.title, l_story_path(l_story) if l_story == @l_stories[1]%></li>
              </ul>
            <% end %>
          </h4>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  style="width:100%" alt="Image"></div>
        </div>
      </div>

      <div class="col-sm-4" style="text-align:center;">
        <div class="panel panel-primary">
          <h4>
            <% @l_stories.each do |l_story| %>
              <ul class='no-bull'>
                <li><%= link_to l_story.title, l_story_path(l_story) if l_story == @l_stories[2]%></li>
              </ul>
            <% end %>
          </h4>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  style="width:100%" alt="Image"></div>
        </div>
      </div>

    <div class="text-center .mx-auto px-{2}">
      <div class="stripe_row">
        <div class="col-sm-12">      
          <div><p><strong>All Living Stories (Under Construction)</strong></p></div>
      </div>
    </div>

  </div>

</body>
</html>






