<h1>Welcome to Living Story!</h1>


<%= render partial: "errors" %>

<p>This is how Living Story works: Choose a genre, create a title, and begin a story. You can write as many lines as possible, but do not finish the story. It is up to you and your fellow SFSourcerites to keep the story going!   </p>
<%= form_for(@l_story) do |f| %>
<%# story_creator %>
  <%= f.label "Title" %>
  <%= f.text_field :title %><br>
  <%= f.label "Content" %>
  <%= f.text_area :content %><br>
  <%= f.label "Choose an OpenGenre ... " %>
  <%= f.collection_check_boxes :ls_genre_ids, OGenre.all, :id, :name %><br>
  <%= f.label "Or make one" %>
  <%= f.fields_for :ls_genre_ids, @l_story.o_genres.build do |o_genres_fields| %>
    <%= o_genres_fields.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>
<%# <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <%# <%= f.fields_for :categories, post.categories.build do |categories_fields| %> 
    <%# <%= categories_fields.text_field :name %>