<!DOCTYPE html>
<html lang="en">
    <head>
      <%= javascript_include_tag 'l_stories'  %>
    </head>
    <body>

        <div class="container" id="more-margin">

            <%= form_for @l_story, url: l_stories_path do |f| %>
            <%= f.label "Give your new story a title (optional)" %><br>
            <%= f.text_field :title %>
            <br><br><br>
            <%= f.label "Start writing your story!" %><br>
            <%= f.text_area :content %>
            <br><br>
            <%= f.submit "Create Story"%>
            <% end %>

            <div>
                <h2 id="title"></h2><br>
                <h3 id="content"></h3>
            </div>

        </div>
        <br><br><br><br><br><br><br>
    </body>
</html>