<h1>LStories#new</h1>
<p>Find me in app/views/l_stories/new.html.erb</p>

<%= form_for l_story do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.collection_check_boxes :o_genre_ids, OGenre.all, :id, :name %>
  <%= f.fields_for :o_genre_ids, l_story.o_genre_ids.build do |o_genre_id| %>
    <%= o_genre_id.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>
