<h2>"<%= @l_story.title %>"</h2>
<h3>A story by ... everyone!</h3>

<h4>Here's the story so far; now it's up to you and other SFSourcer members to see where it goes!</h4>
<%= @l_story.content %>
<% @l_story.ls_comments.each do |c| %>
    <%= c.content %> 
        <%# (<%= c.ls_user.username %>
<% end %><br><br>

<%= form_for @ls_comment do |f| %>
    <%= f.text_area :content %><br><br>
    <label>Finally, choose Your Living Stories username or make a new one:</label><br>
    <p><%= f.collection_select :ls_user_id, LsUser.all, :id, :username %>
        <%= f.fields_for :ls_user, @ls_user do |new_ls_user|%>
         <%= new_ls_user.text_field :username %>
    </p> 
    <% end %>
    <%# <%= link_to @user.name, user_path(u) %>
    <%= f.hidden_field :l_story_id %><br>
    <%= f.submit "Now Click Here to Keep the Story Going!"%>
<% end %><br>

<h3><%= link_to "Edit Your Story Addition", edit_ls_comment_path(f, @ls_user.id) %></h3>

<p>Contributors to this story:</p>
<% @l_story.ls_users.uniq.each do |u|%>
    <li><%= link_to u.username, to:   %></li>
<%# <li><%= link_to u.username, ls_user_path(u) %>
<%# user_path(u) worked because I passed in the whole object as a parameter %>
<% end %>

<h4><%= link_to "Start a New Living Story", new_l_story_path %></h4>
