<!DOCTYPE html>
<html lang="en">
<head>
  <style>

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
  </style>
</head>
<body>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><h5><%= link_to "Start a New Living Story", new_l_story_path %></h5></p><br><br>
      <p><h5><%= link_to "Back to All Living Stories", l_stories_path %></h5></p><br><br>
    </div>
    <div class="col-sm-8 text-left"> 
<h2>"<%= @l_story.title %>"</h2>
<h3>A story by ... everyone!</h3>

<h4>Here's the story so far; now it's up to you and other SFSourcer members to see where it goes!</h4>
<%= @l_story.content %>
<% @l_story.ls_comments.each do |c| %>
    <%= c.content %> 
        <%# (<%= c.ls_user.username %>
<% end %><br><br><br>

<%= form_for @ls_comment do |f| %>
        <label>Choose Your Living Stories username or make a new one:</label><br>
    <p><%= f.collection_select :ls_user_id, LsUser.all, :id, :username %>
        <%= f.fields_for :ls_user, @ls_user do |new_ls_user|%>
         <%= new_ls_user.text_field :username %>
    </p><br>
    <label>Click here to claim your place in line to add the next line! (under construction)</label>
    <br><br>
    <label>Now write!</label>
    <br>

<%= f.text_area :content %><br><br>
    <% end %>
    <%# <%= link_to @user.name, user_path(u) %>
    <%= f.hidden_field :l_story_id %><br>
    <%= f.submit "Click Here to Keep the Story Going!"%>
<% end %><br>

<%# <h3><%= link_to "Edit Your Story Addition", edit_ls_comment_path(@ls_comment) %>

<%# <p>Contributors to this story:</p>
<% @l_story.ls_users.uniq.each do |u|%>
    <%# <li><%= link_to u.username, to:   %>
<%# <li><%= link_to u.username, ls_user_path(u) %>
<%# user_path(u) worked because I passed in the whole object as a parameter %>
<%# <% end %>

    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p></p>
      </div>
      <div class="well">
        <p></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>