<div class="jumbotron">
  <div class="container text-center">
    <h1>
      Welcome to SFSourcer!
    </h1>
    <br>      
    <p>
      Your One-stop Platform for All Things SF
    </p>
  </div>
</div>

<%= render 'layouts/header_navbar' %>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-12">
      <div>
          <strong>Funding SF</strong>
      </div>
  </div>
</div>

<div class="container">   
  <div class="row">
    
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= link_to "Fund an SF Project", funding_projects_path %>
        </div>
        <div class="panel-body">
          <%= image_tag("home_pages/fantasy-coins-1146149_1920.jpg", size: "498x200", alt: "gold and silver fantasy bars") %>
        </div>
      </div>
    </div>
    <div class="col-sm-6"> 
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= link_to "Create an SF Project", new_funding_project_path %>
        </div>
        <div class="panel-body">
          <img src="https://placehold.it/40x15?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-12">
      <div>
        <strong>Writing SF</strong>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6"> 
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= link_to "Have Your Writing Critiqued", "writer_groups_home" %>
          </div>
        <div class="panel-body">
          <img src="https://placehold.it/40x15?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>
    <div class="col-sm-6"> 
      <div class="panel panel-primary">
        <div class="panel-heading">
          Check Out/Add SF Writing Resources
        </div>
        <div class="panel-body">
          <img src="https://placehold.it/40x15?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-12">
      <div>
        <strong>Talking SF</strong>
      </div>
  </div>
</div>

<div class="container"> 
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= link_to "Talk About Your SF Fanvorites", '/all_sf_fanvorites' %>
        </div>
        <div class="panel-body">
          <img src="https://placehold.it/40x15?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Direct to Popular SF Wikis
        </div>
        <div class="panel-body">
          <img src="https://placehold.it/40x15?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>
      </div>
    </div>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-12">
      <div>
        <strong>SF Fandom</strong>
      </div>
  </div>
</div>

<div class="container"> 
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Join in/Create SF ClubSites
        </div>
        <div class="panel-body">
          <img src="https://placehold.it/40x15?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Check Out/Add SF Events
        </div>
        <div class="panel-body">
          <img src="https://placehold.it/40x15?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div>

  </div>
</div>
