<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Online Store</h1>      
    <p>Mission, Vission & Values</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>

<h3>Welcome to SFSourcer, where we help you experience, support, and create adventures in speculative fiction, all in a community of shared interests!</h3>

<h3>Check out our features below, then sign up to be a member <%= link_to "here", new_user_path %> or <%= link_to "through Facebook", '/auth/facebook' %>!</h3><br>


<h3>In our Fanvorites section, check out members' favorite works of speculative fiction and their authors, as well as films and games with a science fiction, fantasy, or horror theme!</h3>

<h4> <%= link_to "All SF Fanvorites", '/all_sf_fanvorites' %></h4><br><br>


<h3>In our Living Stories section, create a story beginning or join other SFSourcer members in developing a fun and fantastic work of fiction! The ones who make the best story according to a poll of members will be featured in a special section of SFSourcer!</h3>

<h4><%= link_to "All Living Stories", l_stories_path %></h4>
<h4><%= link_to "Start a New Living Story", new_l_story_path %></h4>


<h4>Sourcer Projects</h4>

<h4>In our Sourcer Projects section, check out projects in need of funding by our members, or create your own!</h4>

<h4>(Under Construction)</h4><br><br>

<%# <h3> <%= link_to "Sourcer Project Home Page", sourcer_projects_path %>
<%# <h3> <%= link_to "All SFSourcer Projects", funding_projects_path %>
<%# <h3> <%= link_to "Create a new SFSourcer Project", new_funding_project_path %>


FEATURE SECTION

FEATURE SECTION
ClubSites (group discussion boards/chat rooms to be linked with Fanvorites)
<br>
<br>

FEATURE SECTION
YourPages (pages devoted to your own interests, webpages for which you can receive part of ad revenue based on clicks)
<br>
<br>

FEATURE SECTION 
Writer's Groups (where you can have your work read by professionals for a cost, on a one on one or group setting, as well as free discussion and free, non-mentored groups)
<br>
<br>

FEATURE SECTION
Events in Fandom (also linked to Fanvorites)
<br>
<br>

FEATURE SECTION
Special Projects
<br>
<br>











