<!DOCTYPE html>
<html lang="en">
<head>
  <%= javascript_include_tag 'writer_groups'  %>
</head>
  <style>
    .row.content {height: 1500px}
    
    .sidenav {
      background-color: white;
      height: 100%;
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>SFSourcer Writer's Groups</h1>      
    </div>
  </div>

  <%= render 'layouts/header_navbar' %>

  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
      </div>
      <div class="col-sm-9">
        <h4>Welcome to SFSourcer Writer's Groups! We are excited to help each other improve our writing!</h4>
        <br>
        <p>To add your own work to be reviewed by other SFSourcer members, or to review another member's work, choose from the links below.</p> 
        <br>
      <div>
        <h4><%= link_to  "Create a New Work", new_wg_work_path %></h4>
      </div>
        <br>
      <div>
        <h4>All Members' Works (Under construction)</h4>
      </div>
      <br>
      <div>
        <h4><%= link_to  "Sample Member's Work", wg_works_path %></h4>
      </div>

      <br><br> 

      <div>
        <h4>Individual Writer's Groups (Under Construction)</h4><br>
        <h5>Check out one of our general genre or subgenre-specific groups, or start your own group!</h5>
        <br>
        <a class="load_writer_groups" href="/writer_groups">All Writer's Groups</a>
      </div>
      <br>
      <div class="writer_groups">
        <ul class="no-bull">
        </ul>
      </div>
      <br>
      
      <button id="wg_sort">Sort All Writer's Groups</button>
      <br><br>
      <div class="writer_groups_sorted">
        <ul class="no-bull">
        </ul>
      </div>
      <br>

      <a class="load_fantasy_groups" href="/writer_groups">All Fantasy Groups</a>
      <br><br>
      <div class="fantasy_groups">
        <ul class="no-bull">
        </ul>
      </div>
      <br>
      
      <div>
        <%= link_to "Start a Writer's Group", new_writer_group_path %></a>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
