<!DOCTYPE html>
<html lang="en">
<head>
  <%= javascript_include_tag 'writer_groups'  %>
</head>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: white;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Writer's Groups</h1>      
    </div>
  </div>

  <%= render 'layouts/header_navbar' %>

  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
      </div>
      <div class="col-sm-9">
        <h5>Welcome to SFSourcer Writer's Groups! We are excited to help each other improve our writing!</h5>
        <br>
        <p>To add your own work to be reviewed by other SFSourcer members, or to review another member's work, click the link below.</p> 
        <br>
      <div>
        <h4><%= link_to  "Sample SFSourcer Member Work", wg_works_path %></h4>
      </div>
      <br>
      <div>
        <h4><%= link_to  "Create a New Work", new_wg_work_path %></h4>
      </div>

      <br> 
      <div>
        <h5>(UNDER CONSTRUCTION)</h5>
        <p>Check out one of the general or sub-genre specific groups, or start your own group!</p>
        <br>
        <a class="load_writer_groups" href="/writer_groups">All SFSourcer Writer's Groups</a>
      </div>
          <br>
      <div class="writer_groups">
        <ul>
          
        </ul>
      </div>
      <br><br>
      <button id="wg_sort">Sort Writer Groups</button>
      <br><br>
      <div class="writer_groups_sorted">
        <ul>
        </ul>
      </div>
      <div>
        <%= link_to "Start a Writer's Group", new_writer_group_path %></a>
      </div>
    </div>
    </div>
  </div>
</body>
</html>


<%# <h2>Browse SFSourcer Projects Nearing Final Countdown: </h2> %>
<%# <h3><%= link_to "5..4..3..2...", ready_for_countdown_funding_project_path %>

<%# <h2>Browse SFSourcer Projects Nearing Final Countdown: </h2> %>
<%# <h3><%= link_to "5..4..3..2...", ready_for_countdown_funding_project_path %>

