<%= render partial: "layouts/header_navbar" %>
<br>

<div class="container" id="more-margin">

<%= form_for(@wg_work) do |f| %>
    <%= f.label "Your Name" %>
    <%= f.text_field :author %><br><br>
    <%= f.label "Your Bio" %>
    <%= f.text_area :bio %><br><br>
    <%= f.label "Title of Your Work" %>
    <%= f.text_field :title %><br><br>
    <%= f.label "Version of Your Work" %>
    <%= f.text_field :version %><br><br>
    <%= f.label "Your Work" %>
    <%= f.text_area :content %><br><br>
    <%= f.submit "Create Work" %>
    <% end %>
    
</div>
<br><br>

