<h2>Title: <%= @wg_work.title %></h2>
<br>
<h4>Version: <%= @wg_work.version %></h4>
<br>
<h3>Author: <%= @wg_work.author %></h3>
<br>
<h4>Author Bio</h4>
<p><%= @wg_work.bio %></p>
<br>
<br>
<h3>Work to be Critiqued</h3>
<br>
<p><%= @wg_work.content %></p>
<br>
<br>
<h3>Feedback on This Version</h3>
<br>


<h3>Make a New Critique/Comment</h3>
<br>



