<!DOCTYPE html>
<html>

<<<<<<< HEAD
    <%= render 'layouts/shim' %>

    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%
=begin%>
 <%= javascript_include_tag 'funding_projects', 'data-turbolinks-track': 'reload' %> 
<%
=end%>

  </head>
=======
  <%= render 'layouts/shim' %>
>>>>>>> a353c0409caad1130fa8e8cee39fc79ea56ff2f0

  <body>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
  
</html>


