<!DOCTYPE html>
<html>
  <head>
    <title>Sfsourcer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/shim' %>

  </head>

  <body>

  <%= yield %>

  <%= render 'layouts/footer' %>


  </body>
</html>


