<!DOCTYPE html>
<html>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  
  <%= render 'layouts/shim' %>

  <body class="bg">
 
  <%= render 'layouts/header_navbar'%>

  <%= yield %>

  <%= render 'layouts/footer'%>

  </body>

</html>
