<!DOCTYPE html>
<html lang="en">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: white;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>All SFSourcer Projects</h1>      
    <p>Help Great SF Projects Get Made</p>
  </div>
</div>

<%= render 'layouts/header_navbar' %>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#"><h5>Search For a Specific Project/Keyword (Under Construction)</h5><br><br></a></p>
      <p><a href="#"><h5>Browse SFSourcer Projects by Category (Under Construction)</h5><br><br></a></p>
      <p><a href="#"><h5>Browse through all SFSourcer Projects</h5><br></a></p>
    </div>
    <div class="text-center .mx-auto px-{1}">
      <div class="stripe_row">
        <div class="col-sm-10">
          <div><p><strong>Popular Projects</strong></p></div>
      </div>
    </div>
      <div class="col-sm-5">
        <div class="panel panel-primary">
          <div class="panel-body">
            <p><% @funding_projects.each do |fp| %></p>
                <h4><%= link_to fp.title, funding_project_path(fp) if fp == @funding_projects[0] %></h4>
                <div id="description-<%= fp.id if fp == @funding_projects[0]%>"><%= truncate fp.description  if fp == @funding_projects[0] %></div>
                 <button class="js-more" data-id="<%= fp.id if fp == @funding_projects[0]%>">More...</button> 
                <% end %>
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-5"> 
      <div class="panel panel-primary">
        <div class="panel-body">
            <p><% @funding_projects.each do |fp| %></p>
              <ul>
                <h4><%= link_to fp.title, funding_project_path(fp) if fp == @funding_projects[1] %></h4>
                <%
=begin%>
 <div><%= truncate @funding_projects[1].description %></div>
                <button class="js-more" data-id="<%= @funding_projects[1].id %>">More...</button> 
<%
=end%>
              </ul>
                <% end %>
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-10">
      <div><p><strong>Almost Funded</strong></p></div>
  </div>
</div>

<div class="container">
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-body">
            <p><% @funding_projects.each do |fp| %></p>
              <ul>
                <h4><%= link_to fp.title, funding_project_path(fp) if fp == @funding_projects[0] %></h4>
                <%
=begin%>
 <div><%= truncate @funding_projects[0].description %></div> 
<%
=end%>
                <%
=begin%>
 <button class="js-more" data-id="<%= @funding_projects[0].id %>">More...</button> 
<%
=end%>

              </ul>
                <% end %>
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-5"> 
      <div class="panel panel-primary">
        <div class="panel-body">
            <p><% @funding_projects.each do |fp| %></p>
              <ul>
                <h4><%= link_to fp.title, funding_project_path(fp) if fp == @funding_projects[1] %></h4>
                <%
=begin%>
 <div><%= truncate @funding_projects[1].description %></div> 
<%
=end%>
                <%
=begin%>
 <button class="js-more" data-id="<%= @funding_projects[1].id %>">More...</button> 
<%
=end%>

              </ul>
                <% end %>
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-10">
      <div><p><strong>Newest Projects</strong></p></div>
  </div>
</div>
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-body">
            <p><% @newest_fps_first.each do |fp| %></p>
              <ul>
                <h4><%= link_to fp.title, funding_project_path(fp) if fp == @newest_fps_first[0] %></h4>
                <%
=begin%>
 <div><%= truncate @newest_fps_first[0].description %></div>
                <button class="js-more" data-id="<%= @newest_fps_first[0].id %>">More...</button> 
<%
=end%>
              </ul>
                <% end %>
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-body">
            <p><% @newest_fps_first.each do |fp| %></p>
              <ul>
                <h4><%= link_to fp.title, funding_project_path(fp) if fp == @newest_fps_first[1] %></h4>
                <%
=begin%>
 <div><%= truncate @funding_projects[1].description %></div> 
<%
=end%>
                <%
=begin%>
 <button class="js-more" data-id="<%= @funding_projects[1].id %>">More...</button> 
<%
=end%>
              </ul>
                <% end %>
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>


<%# <h2>Browse SFSourcer Projects Nearing Final Countdown: </h2> %>
<%# <h3><%= link_to "5..4..3..2...", ready_for_countdown_funding_project_path %>

<%# <h2>Browse SFSourcer Projects Nearing Final Countdown: </h2> %>
<%# <h3><%= link_to "5..4..3..2...", ready_for_countdown_funding_project_path %>

