MAIN NAVBAR 

<h1>All Sourcer Projects</h1><br>

<p><% @funding_projects.each do |fp| %></p>
    <ul>
        <h3><li><%= link_to fp.title, funding_project_path(fp) %> </li></h3>
        <p>Creator: <li><%= fp.creator_name %> </li></p>
        <p>Description: <li><%= fp.description %> </li></p>
        <p>Funding Goal: <li><%= fp.funding_goal %> </li></p>
    </ul><br><br>
    <% end %>

<%# <h3>Select an SFSourcer Project by Category </h3> %>

<%# <h4><%= @funding_categories.each do |fc| %>
<%# <ul> %>
    <%# <li><%= link_to fc.name, funding_category_path(fc) %>
<%# </ul> %>
<%# <% end %> 

<%# <h3>SFSourcer Projects Nearing Final Countdown:</h3> %>


