MAIN NAVBAR 

<h1>Create a New Sourcer Project!</h1><br>

<%# <h3>Project Originated by: <%= current_user %></h3> %>

<%= form_for @funding_project do |f| %>
<h2>Creator/Name of Sponsoring Organization: <%= f.text_field :title %> </h2><br>
<h2>Project Title: <%= f.text_field :title %> </h2><br>
<h3>Description: <%= f.text_area :description %></h3><br>
<h3>Funding Goal (in U.S. dollars): <%= f.text_field :funding_goal %></h3>
<%= f.submit "Create Project"%>
<% end %>

<%= f.label "Name of Sponsoring Individual or Organization (Creator) "%>
<%= f.text_field :name %><br>
<%= f.label "Location "%>
<%= f.text_field :location %><br>
<%= f.label "Name of Verified for Project "%>
<%= f.text_field "name_of_verified" %><br>
<%= f.label "About Creator "%>
<%= f.text_area "creator_about" %><br>
<%= f.label "Creator Website "%>
<%= f.text_field "creator_site" %><br>
<%= f.label "Instagram "%>
<%= f.text_field "instagram_url" %><br>
<%= f.label "Twitter "%>
<%= f.text_field "twitter_url" %><br>
<%= f.label "Facebook "%>
<%= f.text_field "facebook_url" %><br>
<%= f.label "Blog "%>
<%= f.text_field "blog_url" %><br>
<%= f.submit %>
<% end %>
