MAIN NAVBAR 

<h1>Create a New Sourcer Project!</h1><br>

<%= render partial: "errors" %>

<h3>Project Information</h3>
<%= form_for @funding_project do |f| %>
    <h2>Project Title: <%= f.text_field :title %> </h2><br>
    <h3>Description: <%= f.text_area :description %></h3><br>
    <h3>Funding Goal (in U.S. dollars): <%= f.text_field :funding_goal %></h3><br>

<h3>Creator Information</h3>
    <h3><%= collection_radio_buttons(:fp_creator_ids, FpCreator.all, :id, :title) %><br>
        <%= f.fields_for :fp_creator, @funding_project.fp_creators.build do |fpc_fields|%><br>
            <%= fpc_fields.label "Creator Name"%>
            <%= fpc_fields.text_field :creator_name %> </h2><br>
            <%= fpc_fields.label "Location "%>
            <%= fpc_fields.text_field :location %><br>
            <%= fpc_fields.label "About Creator" %>
            <%= fpc_fields.text_area :creator_about %><br>
            <%= fpc_fields.label "Creator Website" %>
            <%= fpc_fields.text_field :creator_site %><br>
            <%= fpc_fields.label "Instagram" %>
            <%= fpc_fields.text_field :instagram_url %><br>
            <%= fpc_fields.label "Twitter" %>
            <%= fpc_fields.text_field :twitter_url %><br>
            <%= fpc_fields.label "Facebook" %>
            <%= fpc_fields.text_field :facebook_url %><br>
            <%= fpc_fields.label "Blog" %>
            <%= fpc_fields.text_field :blog_url %><br>
            <%= fpc_fields.submit %>
        <% end %><br><br><br>
    <%= f.submit "Create Project"%>
<% end %>

