<!DOCTYPE html>
<html>
<style>
</style>
<body>
  <div><h2 class="w3-text-grey w3-padding-16"><h1>Create a New Sourcer Project!</h1><br></h2>
    <div class="w3-container">
      <h3 class="w3-opacity"><b>Project Information</b></h3><br><br>
      <%= form_for @funding_project do |f| %>
        <h4>Project Title: <%= f.text_field :title %> </h4><br>
        <h4>Description: <%= f.text_area :description %></h4><br>
        <h4>Funding Goal (in U.S. dollars): <%= f.text_field :funding_goal %></h4><br>
      <hr>
    </div>
  </div>

  <div class="w3-container">
    <h3 class="w3-opacity"><b>Project Information</b></h3><br><br>
      <%= f.collection_check_boxes :fp_creator_ids, FpCreator.all, :id, :creator_name %><br>
        <%= f.fields_for :funding_project, @funding_project.fp_creators.build do |fpc_fields|%><br>
            <%= fpc_fields.label :creator_name %>
            <%= fpc_fields.text_field :creator_name %> </h2><br>
            <%= fpc_fields.label "Location "%>
            <%= fpc_fields.text_field :location %><br>
            <%= fpc_fields.label "About Creator" %>
            <%= fpc_fields.text_area :creator_about %><br>
            <%= fpc_fields.label "Creator Website" %>
            <%= fpc_fields.text_field :creator_site %><br>
            <%= fpc_fields.label :email %>
            <%= fpc_fields.text_field :email %><br>
            <%= fpc_fields.label "Instagram" %>
            <%= fpc_fields.text_field :instagram_url %><br>
            <%= fpc_fields.label "Twitter" %>
            <%= fpc_fields.text_field :twitter_url %><br>
            <%= fpc_fields.label "Facebook" %>
            <%= fpc_fields.text_field :facebook_url %><br>
            <%= fpc_fields.label "Blog" %>
            <%= fpc_fields.text_field :blog_url %><br>
            <%
=begin%>
 <%= fpc_fields.submit %> 
<%
=end%>
          <%= f.submit "Create Project"%>
              <% end %><br><br><br>
          <% end %>
    </div>
    
</body>
</html>
