<%= render partial: "layouts/funding_projects_navbar"%>

<div class="text-grey padding-16">
  <div class="container">
    <h3 class="opacity"><b>Your Project Information</b></h3><br>
    <%= form_for @funding_project do |f| %>
      <h4>Project Title: <%= f.text_field :title %> </h4><br>
      <h4>Description: <%= f.text_area :description %></h4><br>
      <h4>Funding Goal (in US dollars): <%= f.text_field :funding_goal %></h4><br>
      <h4><%= f.submit "Create Project"%></h4>
    <% end %>
  </div>
</div>
