MAIN NAVBAR 

<h1>Your New Sourcer Project</h1>

<h2><%= @funding_project.title %></h2>
<p>Description: <%= @funding_project.description %> </p><br>
<p>Funding Goal: <%= @funding_project.funding_goal %> </p><br><br>

<h2>Creator/Creator Team Profile</h2>
<% @funding_project.fp_creators.each do |fpc| %>
    <ul>
        <li><%= fpc.co_creator_name %></li><br><br>
        <li>Location: <%= fpc.location %></li><br><br>
        <li>About Creator: <%= fpc.creator_about %></li><br><br>
        <li>Creator Website: <%= fpc.creator_site %></li><br><br>
        <li>Creator Instagram: <%= fpc.instagram_url %></li><br><br>
        <li>Creator Twitter:<%= fpc.twitter_url %></li><br><br>
        <li>Creator Facebook:<%= fpc.facebook_url %></li><br><br>
        <li>Creator Blog: <%= fpc.blog_url %></li>
    </ul>
<% end %>





