MAIN NAVBAR 

<%# <%= render partial: "errors" %>

<h1>Your New Sourcer Project</h1>

<h2><%= @funding_project.title %></h2>
<p>Description: <%= @funding_project.description %> </p><br>
<p>Funding Goal (in U.S. dollars)"<%= @funding_project.funding_goal %> </p><br><br>

<h2>Creator Profile</h2>
<% @funding_project.fp_creators.each do |fpc| %>
    <ul>
        <p>Creator: <li><%= fpc.creator_name %></li></p><br><br>
        <li>Location: <%= fpc.location %></li><br><br>
        <li>About Creator: <%= fpc.creator_about %></li><br><br>
        <li>Creator Website: <%= fpc.creator_site %></li><br><br>
        <li>Email: <%= fpc.email %></li><br><br>
        <li>Creator Instagram: <%= fpc.instagram_url %></li><br><br>
        <li>Creator Twitter:<%= fpc.twitter_url %></li><br><br>
        <li>Creator Facebook:<%= fpc.facebook_url %></li><br><br>
        <li>Creator Blog: <%= fpc.blog_url %></li>
    </ul>
<% end %>


<h3>Total Pledges So Far:</h3>
<%= @funding_project.total_pledges.sum  %><br><br>

<% if @funding_project.total_pledges.sum < @funding_project.funding_goal %>
    <%= "Total Needed:" %>
    <%= @funding_project.total_pledges.sum - @funding_project.funding_goal %>
<% elsif @funding_project.total_pledges.sum == @funding_project.funding_goal %><br>
    <%= "Funding Goal Achieved!" %><br><br>
<% elsif @funding_project.total_pledges.sum > @funding_project.funding_goal %><br>
    <%= "Funding Goal Achieved!" %><br><br>
<%= "Total Over Funding Goal:" %>
    <%= @funding_project.total_pledges.sum - @funding_project.funding_goal %>
<% end %><br><br>


<h3><%= link_to "Make a Pledge", new_pledge_path %></h3>

<%# <h3><%= link_to "Make a Comment", new_funding_project_comment_path %>



