<h1><%= @funding_project.title %></h1><br>
<p>Description: <%= @funding_project.description %> </p><br>
<p>Funding Goal: <%= @funding_project.funding_goal %> </p><br>
<%# <p>Amount Pledged: <%= @funding_project.funding_goal %> </p><br> %>

        
<h2><%= link_to "Click here to make a pledge for this project (in U.S. dollars)", new_pledge_path %></h2><br>
<%# <%= form_for @funding_project do |f| %> %>
<%# <h4>Pledge Amount  <%= f.text_field :amount %></h4> %>
<%# <%= f.submit "Make a Pledge"%> %>
<%# <% end %> %>




<%# <%= link_to '/pledges/new', pledges_path%> %>
