<%# <%= render partial: "errors" %>

<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><h5><%= link_to "Make a Pledge", new_pledge_path %></h5></p>
 </div>
    <div class="col-sm-8 text-left"> 
      <h1><%= @funding_project.title %></h1><br>
        <h4><%= @funding_project.description %></h4><br><br>
        <h4>Funding Goal (in U.S. dollars): <%= @funding_project.funding_goal %></h4><br>
        <h4>Amount Pledged: <%= @funding_project.total_pledges %></h4><br>
        <h4>Amount Needed: <%= @funding_project.amount_needed %></h4><br>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p></p>
      </div>
      <div class="well">
        <p></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>



