<%# <%= render partial: "errors" %>

<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">

      <%
=begin%>
 <p><h5>Creator Profile</p><br>
      <% @funding_project.fp_creators.each do |fpc| %>
    <ul>
        <p>Creator: <li><%= fpc.creator_name %></li></p><br><br>
        <li>Location: <%= fpc.location %></li><br><br>
        <li>About Creator: <%= fpc.creator_about %></li><br><br>
        <li>Creator Website: <%= fpc.creator_site %></li><br><br>
        <li>Email: <%= fpc.email %></li><br><br>
        <li>Creator Instagram: <%= fpc.instagram_url %></li><br><br>
        <li>Creator Twitter:<%= fpc.twitter_url %></li><br><br>
        <li>Creator Facebook:<%= fpc.facebook_url %></li><br><br>
        <li>Creator Blog: <%= fpc.blog_url %></li>
    </ul>
<% end %><br><br> 
<%
=end%>

      <p><h5><%= link_to "Make a Pledge", new_pledge_path %></h5>
</p>


 </div>
    <div class="col-sm-8 text-left"> 
      <h1><%= @funding_project.title %></h1><br>
        <h4><%= @funding_project.description %></h4><br><br>
        <h4>Funding Goal (in U.S. dollars): <%= @funding_project.funding_goal %></h4><br>
        <h4>Amount Pledged: <%= @funding_project.total_pledges %></h4><br>
        <h4>Amount Needed: <%= @funding_project.amount_needed %></h4><br>
      <div>
        <button id="all_pledges">Click Here to See All Individual Pledge Amounts</button>
      </div>

      <div class="fpPledges">
        <ul>
          
        </ul>
      </div>
    </div> 

    <div class="col-sm-2 sidenav">
      <div class="well">
        <p></p>
      </div>
      <div class="well">
        <p></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>


<%# <h3><%= link_to "Make a Comment", new_funding_project_comment_path %>



