<p>First thing, make a profile for yourself as the creator of the project.</p>

<%= form_for @fp_creator do |f| %>
    <%= f.label "Name of Sponsoring Individual or Organization (Creator) "%>
    <%= f.text_field :name %><br>
    <%= f.label "Location "%>
    <%= f.text_field :location %><br>
    <%# <%= f.label "Name of Verified for Project "%>
    <%# <%= f.text_field "name_of_verified" %>
    <%= f.label "About Creator" %>
    <%= f.text_area :creator_about %><br>
    <%= f.label "Creator Website" %>
    <%= f.text_field :creator_site %><br>
    <%= f.label "Instagram" %>
    <%= f.text_field :instagram_url %><br>
    <%= f.label "Twitter" %>
    <%= f.text_field :twitter_url %><br>
    <%= f.label "Facebook" %>
    <%= f.text_field :facebook_url %><br>
    <%= f.label "Blog" %>
    <%= f.text_field :blog_url %><br>
    <%= f.submit %>
    <% end %>
