<h1>New Sourcer Project Creator</h1><br>
<h3>Connected to User <%= user_creator_connect %></h3>

<%= form_for @fp_creator do |f| %>
<%= f.label "Name of Sponsoring Individual or Organization (Creator) "%>
<%= f.text_field :name %>
<%= f.label "Location "%>
<%= f.text_field :location %>
<%= f.label "Name of Verified for Project "%>
<%= f.text_field "name_of_verified" %>
<%= f.label "Creator Description "%>
<%= f.text_area "creator_profile" %>
<%= f.label "Creator Website "%>
<%= f.text_field "creator_site" %>
<%= f.label "Instagram "%>
<%= f.text_field "instagram_url" %>
<%= f.label "Twitter "%>
<%= f.text_field "twitter_url" %>
<%= f.label "Facebook "%>
<%= f.text_field "facebook_url" %>
<%= f.label "Blog "%>
<%= f.text_field "blog_url" %>
<% end %>