<h1>Creator Profile for <%= @fp_creator.name %></h1><br>
<h3>Connected to User <%= user_creator_connect %></h3>

<p>Name: <%= @fp_creator.name %></p>
<p>Location: <%= f.text_field :location %>
<p>Name of Verified: <%= f.text_field "name_of_verified" %>
<p>About Creator: <%= f.text_area "creator_about" %>
<p>Creator Website: <%= f.text_field "creator_site" %>
<p>Creator Instagram: <%= f.text_field "instagram_url" %>
<p>Creator Twitter:<%= f.text_field "twitter_url" %>
<p>Creator Facebook:<%= f.text_field "facebook_url" %>
<p>Creator Blog: <%= f.text_field "blog_url" %><br><br>

<h2>Make a New Sourcer Project</h2><br>

<h3>Edit Profile</h3>