
<% @funding_project.fp_creators.each do |fpc| %>
  <p>Name: <%= fpc.name %></p>
  <p>Location: <%= fpc.location %>
  <p>About Creator: <%= fpc.creator_about %>
  <p>Creator Website: <%= fpc.creator_site %>
  <p>Creator Instagram: <%= fpc.instagram_url %>
  <p>Creator Twitter:<%= fpc.twitter_url %>
  <p>Creator Facebook:<%= fpc.facebook_url %>
  <p>Creator Blog: <%= fpc.blog_url %><br><br>
<% end %>

<%# <h2><%= link_to "Make a New Sourcer Project", new_funding_project_path %> </h2><br> %>
